<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LED MATRIX Controller</title>
</head>
<body>
    <button id="buttonShowMsg" name="buttonx">Show Message</button>
    <div id="divMsg">
        <input id="msgText" type="text">
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

<!--{{ url_for('static', filename="css/bootstrap.min.css") }}-->